[Unit]
Description=Service for running minecraft servers
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name MSrvM --network host -v /opt/msrvManager:/data  msrvmanager
ExecStop=/usr/bin/docker stop --signal SIGTERM -t 150 MSrvM
ExecStopPost=/usr/bin/docker rm -f MSrvM

[Install]
WantedBy=multi-user.target