[Unit]
Description=Service for running minecraft servers
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --init --name MSrvM --network host -v /opt/msrvManager:/data msrvmanager
ExecStop=/usr/bin/docker stop -t 2 MSrvM
ExecStopPost=/usr/bin/docker rm -f MSrvM

[Install]
WantedBy=multi-user.target